repos:
-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
-   repo: https://github.com/timothycrosley/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
